{% extends "layout.html" %}

{% block content %}

<h2 style="color:skyblue">{{ title }}</h2>
<h3 style="color: lightgreen"> {{ message }}</h3>

<table border="1">
    <tr>
        <td>
            <img src="https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg" width="300" height="300" />
        </td>

        <td>
            <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5babef3da7ea4342a948c024%2F0x0.jpg%3Fbackground%3D000000%26cropX1%3D1314%26cropX2%3D2845%26cropY1%3D222%26cropY2%3D1752" width="300" height="300" />
        </td>

        <td>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/George-W-Bush.jpeg/1200px-George-W-Bush.jpeg" width="220" height="300" />
        </td>

        <td>
            <img src="https://www.biography.com/.image/t_share/MTIwNjA4NjMzNzczOTE3NzA4/bill-clinton-9251236-1-402.jpg" width="300" height="300" />
        </td>

    </tr>


</table>

{% endblock %}
